@page
@model AjimaExploreTravel.Pages.Travels.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Travel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.TravelTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.TravelTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.BookDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.BookDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.TouristAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.TouristAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.HotelPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.HotelPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.HotelAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.HotelAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Travel.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
