@page
@model AjimaExploreTravel.Pages.Travels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.TravelTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.TravelTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.BookDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.BookDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.TouristAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.TouristAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.HotelPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.HotelPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travel.HotelAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.HotelAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Travel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
